@()
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="actionModalLabel">Excel File Format</h4>
</div>
<div class="modal-body">
<p>The file's content should be of the following format. Header or invalid rows will be ignored.</p>
<table class="table table-condensed table-excel">
  <thead>
    <tr>
      <th>A / Sciper</th>
      <th>B / Lastname</th>
      <th>C / Firstname</th>
      <th>D / E-mail</th>
      <th>...</th>
      <th>G / Date Enrolment</th>
      <th>...</th>
      <th>P / Mentor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>123456</td>
      <td>Doe</td>
      <td>John</td>
      <td>john.doe@@epfl.ch</td>
      <td>...</td>
      <td>9/1/2011</td>
      <td>...</td>
      <td>Dr. Acula</td>
    </tr>
    <tr>
      <td>123457</td>
      <td>Doe</td>
      <td>Jane</td>
      <td>jane.doe@@epfl.ch</td>
      <td>...</td>
      <td>9/1/2013</td>
      <td>...</td>
      <td></td>
    </tr>
    <tr>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
  </tbody>
</table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
