@(of: Option[db.Tables.FormsFormsRow], fhs: Seq[FormHeader])(implicit flash: Flash, ctx: Context)


@of match {
  case Some(f) => {
    @if(!ctx.isAdmin || fhs.nonEmpty) {
      <h1>@formTitle(f)</h1>
      @if(fhs.nonEmpty) {
      <p>Please select the form you want to access:</p>
      <div class="list-group">
        @for(fh <- fhs) {
          <span class="list-group-item" >
            <div class="pull-right">
              @formProgress(fh)
            </div>
            <a href="@routes.Forms.displayAuto(ctx.faculty.name, fh.form.id, fh.student.sciper)">@fh.title - @fullname(fh.student)</a>
          </span>
        }
      </div>
      } else {
        @alert(AlertInfo("You have not participated in this form session."))
      }
    }
  }

  case None => {}
}
